* { margin: 0; padding: 0; box-sizing: border-box; }

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
}

.hero {
  height: 90vh;
  background: #1c1919;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h1 span { color: #10a7ff; }

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #10a7ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}

.container {
  padding: 60px 10%;
  text-align: center;
  background-color: cornsilk;
}

h2 { margin-bottom: 20px; }

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover { transform: scale(1.05); }
.card i { font-size: 40px; margin-bottom: 10px; }

footer {
  padding: 15px;
  background: #6877ac;
  text-align: center;
  font-size: 14px;
    color: #fff;
}
